@import "../assets/styles/variables.scss";

#gallery-cards {
  width: 100%;
  padding: 7.5rem 2.5rem;
  z-index: 10;
  h1 {
    font-size: 15rem;
    text-align: center;
    position: relative;
    transform: translate(-15%, 20%);
  }
  .container-wide {
    .row {
      .gallery-card {
        padding: 1%;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        img {
          width: 100;
          height: 40vh;
          border-radius: 15px;
          transition: transform 0.3s ease-in-out;
          object-fit: cover;
        }
      }
      .gallery-card:hover img {
        transform: scale(1.1);
      }
    }
  }
}
